<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ 'Nilai a : ' + nilai }}</h1>
    <h1>{{ 'Rata Rata : ' + rataRata }}</h1>
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        nilai : 0,
        rataRata : 0,
      },
      methods : {
        openForm : function(){
            for(i = 0; i < 4; i++){
                this.a = prompt("Masukkan Nilai a")
                var nilaiA = parseInt(this.a)
                this.nilai += nilaiA
            }
            this.rataRata = this.nilai / i
        }
      }

  })
  </script>
</body>
</html>