<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()" >
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Name</label>
            <input :disabled="buttonStatus == 'upload'" type="text" name="name" ref="name" v-model="name">
            <label>Address</label>
            <textarea :disabled="buttonStatus == 'upload'" type="text" name="address" ref="address" v-model="address"></textarea>
            <label>Nomor HP</label>
            <input :disabled="buttonStatus == 'upload'" type="text" name="no_hp" ref="no_hp" v-model="no_hp"></input>

            <br><br>

            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateMember(idEditMember)">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top: 5px;">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>
            

        </form>

        <br><br>

        <table border=1>
            <tr v-for="member of members">
                <td>
                    <img width=100 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
                </td>
                <td>
                    <b>Name : </b> {{ member.name }} <br>
                    <b>Address : </b> {{ member.address }} <br>
                    <b>No Handphone : </b> {{ member.no_hp }} 
                </td>
                <td>
                    <button @click="editMember(member)">Edit</button>
                    <button @click="removeMember(member.id)">Hapus</button>
                    <button @click="uploadPhoto(member)">Upload Photo</button>
                </td>
            </tr>
        </table>
    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            name : '',
            address : '',
            no_hp : '',
            errors : [],
            members : [],
            photoDomain : 'http://demo-api-vue.sanbercloud.com',
            buttonStatus : 'submit',
            idEditMember : null,
            idUploadMember : null,
        },
        methods : {
            validationFrom : function(){
                this.errors =[]

                if(this.name.length < 5){
                    this.errors.push('Nama Minimal 5 Karakter')
                    this.$refs.name.focus()
                    
                }
                if(this.address.length > 100){
                    this.errors.push('Alamat Maksimal 50 Karakter')
                    this.$refs.address.focus()
                }
            },

            clearForm : function(){
                this.name = ''
                this.address = ''
                this.no_hp = ''
            },

            submitForm: function() {

                this.validationFrom()

                if(this.errors.length === 0){
                    
                    let formData = new FormData()
                    formData.append('name' , this.name)
                    formData.append('address' , this.address)
                    formData.append('no_hp' , this.no_hp)

                    const config = {
                        method : "post",
                        url : "http://demo-api-vue.sanbercloud.com/api/member",
                        data : formData,
                    }

                    axios(config)
                    .then( (response) => {
                        this.clearForm()
                        this.getMember()
                        alert(response.data.message)
                        
                        console.log(response.data)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                }

                /* event.preventDefault() */ /* agar halaman tidak terefresh */
            },

            getMember : function() {

                const config = {
                    method : "get",
                    url : "http://demo-api-vue.sanbercloud.com/api/member" 
                }

                axios(config)
                .then( (response) => {

                    this.members = response.data.members

                    console.log(response.data.members)
                })
                .catch( (error) => {
                    console.log(error)
                })
            },

            removeMember : function(id){

                const config = {
                    method : 'post',
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : { _method : "DELETE"}
                }
                
                axios(config)
                .then( (response) => {
                    this.getMember()
                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
            },

            editMember : function(member){
                
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = 'update'
                this.idEditMember = member.id
            },

            clearForm : function(){
                this.name = ''
                this.address = ''
                this.no_hp = ''
                this.buttonStatus = 'submit'
                this.idEditMember = null
                this.idUploadMember = null
            },

            updateMember : function(id){

                this.validationFrom()

                if(this.errors.length == 0){
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    let config = {
                        method : 'post',
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : { _method : 'PUT'},
                        data : formData
                    }

                    axios(config)
                    .then( (response) => {

                        this.clearForm()
                        this.getMember()

                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                }
            },

            uploadPhoto : function(member){
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = 'upload'
                this.idUploadMember = member.id
            },

            submitPhoto : function(id){

                let file = this.$refs.photo.files[0]
                let formData = new FormData()
                formData.append('photo_profile', file)

                let config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                    data : formData
                }

                axios(config)
                .then( (response) => {

                    this.clearForm()
                    this.getMember()
                    alert(response.data.message)

                })
                .catch( (error) => {
                    console.log(error)
                })
            }
        },

        created(){
            this.getMember()
        }
    })
</script>
</html>