<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="tambah()">
            <input type="text" id="nama" ref="nama">
            <button type="submit">Add</button>
            <ul v-if="users.length">
                <li v-for="user in users">{{ user.name }}       <button @click="edit">Edit</button>   ||  <button @click="hapus" value="del">Delete</button></li>
            </ul>
        </form>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data()  {
            return {

                nama : [],

                users : [
                    {
                        'name' : 'Muhammad Iqbal Mubarok',
                    },
                    {
                        'name' : 'Ruby Purwanti',
                    },
                    {
                        'name' : 'Faqih Muhammad',
                    },
                ],
            }
        },
        computed : {

        },
        methods : {
            tambah() {
                var namaVar = document.querySelector("#nama")
                var namaVal = namaVar.value
                this.nama = namaVal
                namaVar = ''

                if(this.nama){
                    this.users.push({
                        name : this.nama
                    })
                }
                    
            },

            edit() {

                this.users = Object.assign({
                    name : this.nama
                })

                document.querySelector("#nama").value = this.users

                this.$refs.nama.focus()

                event.preventDefault()

            },

            hapus() {

                this.users = Object.assign([])
                
                this.$del(this.users.name.findIndex( function (n) {
                    return n === this.users.name
                }))

            },
        }
    })
</script>

</html>