<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" name="search" v-model="search" placeholder="ketikkan kata kunci">
            <ul v-if="books.length">
                <li v-for="book in hasilSearch" >{{ book }}</li>
            </ul>
        </form>
    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                search : null,
                books : [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ],
            };
        },
        computed : {
            hasilSearch(){
                if(this.search){
                    return this.books.filter((book) => {
                        return this.search.toLowerCase().split(' ').every(item => book.toLowerCase().includes(item))
                    })
                } else {
                    return this.books
                }
            }

        },
        methods : {
            
            
        }
    })
</script>
</html>