<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li {
            list-style: none;
        }
    </style>
</head>
<body>
	<div id="app">
        <p>
            <ul v-if="komenan.length">
                <li v-for="komens in komenan"><p v-html="komens">{{ komens }}</p></li>
            </ul>
        </p>
		<div>
			<textarea id="komentar" type="text" v-on:keyup.enter="komen" cols="30" rows="5" placeholder="Dengan Enter"></textarea>
		</div>

        
	</div>


	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<script>
		var project = new Vue({
			el: "#app",
			data: {
				komentar: "",
				score : 0,
                komenan: []

			},
			methods: {
				komen(){
					var namaVar1 = document.querySelector("#komentar")
					var namaVal1 = namaVar1.value
					this.komentar = namaVal1
					namaVar1.value = ""

                    if(this.komentar){
                        this.komenan.push('<button v-on:click="score += 1">+</button> <br>' + this.komentar + ' || 07-05-2021 || Score : ' + this.score + ' <br> <button v-on:click="score -= 1">-</button>')
					}
				},
				/* scorePlus(){
					this.score = 0

					if(this.score > 0){
						this.score += 1
					}
				},
				scoreMinus(){
					this.score = 0

					if(this.score > 0){
						this.score -= 1
					}
				} */
			},
			computed:{
				
			}
		})
	</script>
</body>
</html>