<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()" >
            <p v-if="$store.state.errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in $store.state.errors">{{ error }}</li>
                </ul>
            </p>
            <label>Name</label>
            <input :disabled="$store.state.buttonStatus == 'upload'" type="text" name="name" ref="name" v-model="$store.state.name">
            <label>Address</label>
            <textarea :disabled="$store.state.buttonStatus == 'upload'" type="text" name="address" ref="address" v-model="$store.state.address"></textarea>
            <label>Nomor HP</label>
            <input :disabled="$store.state.buttonStatus == 'upload'" type="text" name="no_hp" ref="no_hp" v-model="$store.state.no_hp"></input>

            <br><br>

            <div v-if="$store.state.buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="$store.state.buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateMember($store.state.idEditMember)">
                <input type="button" value="CANCEL" @click="clearForm()" style="margin-top:5px">
            </div>
            <div v-else-if="$store.state.buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto($store.state.idUploadMember)" style="margin-top: 5px;">
                <input type="button" value="CANCEL" @click="clearForm()" style="margin-top:5px">
            </div>
            

        </form>

        <br><br>

        <members-components>
            <members-component 
                v-for="member in $store.state.members" 
                :member="member"
                @edit="editMember(member)"
                @hapus="removeMember(member.id)"
                @upload="uploadPhoto(member)">
                <img width=100 :src="member.photo_profile ? $store.state.photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
            </members-component>
        </members-components>
        

    </div>

        
    
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>

<script type="module">

    import { MembersComponents } from './MembersComponents.js'
    import { MembersComponent } from './MembersComponent.js'

    const store = new Vuex.Store({
        state() {
            return {
                name : '',
                address : '',
                no_hp : '',
                photo: '',
                errors : [],
                members : [],
                photoDomain : 'http://demo-api-vue.sanbercloud.com',
                buttonStatus : 'submit',
                idEditMember : null,
                idUploadMember : null,
            }
        },
        mutations : {

            validasi(state) {

                state.errors = []

                if(state.name.length < 5){
                    state.errors.push('Nama Minimal 5 Karakter')
                    state.$refs.name.focus()
                    
                }
                if(state.address.length > 10){
                    state.errors.push('Alamat Maksimal 10 Karakter')
                    state.$refs.address.focus()
                }
            },

            clearForm(state) {
                state.name = ''
                state.address = ''
                state.no_hp = ''
            },

            getMember(state) {
                const config = {
                    method : "get",
                    url : "http://demo-api-vue.sanbercloud.com/api/member" 
                }

                axios(config)
                .then( (response) => {

                    state.members = response.data.members

                    console.log(response.data.members)
                })
                .catch( (error) => {
                    console.log(error)
                })
            
            },

            submitForm(state) {

                this.commit("validasi")

                if(state.errors.length === 0){
                    
                    let formData = new FormData()
                    formData.append('name' , state.name)
                    formData.append('address' , state.address)
                    formData.append('no_hp' , state.no_hp)

                    const config = {
                        method : "post",
                        url : "http://demo-api-vue.sanbercloud.com/api/member",
                        data : formData,
                    }

                    axios(config)
                    .then( (response) => {
                        this.commit("clearForm")
                        this.commit("getMember")
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                }
            },

            removeMember(state, id) {

                const config = {
                    method : 'post',
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : { _method : "DELETE"}
                }
                
                axios(config)
                .then( (response) => {
                    this.commit("getMember")
                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
            },

            editMember(state, member) {
                state.name = member.name
                state.address = member.address
                state.no_hp = member.no_hp
                state.buttonStatus = 'update'
                state.idEditMember = member.id
            },

            clearForm(state) {
                state.name = ''
                state.address = ''
                state.no_hp = ''
                state.buttonStatus = 'submit'
                state.idEditMember = null
                state.idUploadMember = null
            },

            updateMember(state, id) {

                this.commit("validasi")

                if(state.errors.length == 0){
                    let formData = new FormData()
                    formData.append('name', state.name)
                    formData.append('address', state.address)
                    formData.append('no_hp', state.no_hp)

                    let config = {
                        method : 'post',
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : { _method : 'PUT'},
                        data : formData
                    }

                    axios(config)
                    .then( (response) => {
                        this.commit("clearForm")
                        this.commit("getMember")
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                }
            },

            uploadPhoto(state, member) {
                state.name = member.name
                state.address = member.address
                state.no_hp = member.no_hp
                state.buttonStatus = 'upload'
                state.idUploadMember = member.id
            },

            submitPhoto(state, id, file) {

                let formData = new FormData()
                formData.append('photo_profile', file)

                let config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                    data : formData
                }

                axios(config)
                .then( (response) => {
                    this.commit("clearForm")
                    this.commit("getMember")
                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
            }

        }
    })

    const vm = new Vue({
        el : '#app',
        components : {
            'members-component' : MembersComponent,
            'members-components' : MembersComponents
        },
        store,
        data : {

        },
        methods : {
            validationFrom() {
                this.$store.commit("validasi")
            },

            clearForm() {
                this.$store.commit("clearForm")
            },

            submitForm() {
                this.$store.commit("submitForm")
            },

            getMember() {
                this.$store.commit("getMember")
            },

            removeMember(id){
                this.$store.commit("removeMember", id)
            },

            editMember(member){
                this.$store.commit("editMember", member)
            },

            clearForm(){
                this.$store.commit("clearForm")
            },

            updateMember(id){
                this.$store.commit("updateMember", id)
            },

            uploadPhoto(member){
                this.$store.commit("uploadPhoto", member)
            },

            submitPhoto(id){

                const file = this.$refs.photo.files[0]

                this.$store.commit("submitPhoto", id, file)
            }
        },

        created(){
            this.getMember()
        }
    })
</script>
</html>