<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ $store.state.title }}</h1>
        <h2> {{ $store.state.count }} </h2>
        <button @click="increment">Tambah</button>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>

<script>

    const store = new Vuex.Store({
        state: {
            title : 'VueJs',
            count: 1
        },
        mutations : {
            increment(state) {
                state.count++
            }
        },
        actions : {

        }
    })

    new Vue ({
        el: '#app',
        data: {
            
        },
        store,
        methods : {
            increment() {
                this.$store.commit(increment)
            }
        }
    })

</script>

</html>