body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

#wrapper {
    width: 500px;
    height: 730px;
    margin: 0 auto;
    text-align: center;
    background-color: #393e46;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    border-radius: 20px;
}

#wrapper:hover {
    width: 530px;
    height: 750px;
    margin: 0 auto;
    text-align: center;
    background-color: #393e46;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    margin-top: 10px;
    padding: 0 50px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition: all 0.8s;
}

.foto {
    width: 150px;
    height: 200px;
    border-radius: 20px;
    margin-top: 20px;
}

.foto:hover{
    background-color: red;
    transition: all 0.8s;
}

.ground {
    margin: 0 auto;
    width: 290px;
    height:15px;
    background-color: orange;
    margin-top: -30px;
    text-align: center;
}

.ground:hover {
    margin: 0 auto;
    width: 290px;
    height:15px;
    background-color: orange;
    margin-top: -40px;
    text-align: center;
    padding-top: 10px;
    color: black;
}

.grounds {
    margin: 0 auto;
    width: 200px;
    height:15px;
    background-color: orange;
    margin-top: -40px;
    text-align: center;
}

.tag {
    color: #ddd;
}

